.divider {
  display: inline;
  position: relative;
  height: 40px;
  width: 1px;
  background-color: #228C22;
  margin-left: 1rem;
  margin-right: 1rem;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.headerLogo {
  position: absolute;
  left: 0px;

  @media (max-width: 1024px) {
    top: 150px;
  }
  @media (min-width: 1024px) {
    top: 225px;
  }

  animation: fadein 2s;
}

.header {
  position: relative;
  top: 0px;
  left: 0px;
}

.button:hover {
  background-color: #276327;
  color: white;
}

.buttonSecondary:hover {
  background-color: #6b7280;
  color: white;
}

.buttonDanger:hover {
  background-color: #dd2222;
  color: white;
}

.buttonBlue:hover {
  background-color: #36438B;
  color: white;
}

.buttonOrange:hover {
  background-color: #F0833C;
  color: white;
}

.button:disabled {
  background-color: #e3e3e3;
  color: #d3d3d3;
}

.dashboard {
  animation: tilt-shaking 0.25s infinite;
}

.buttonFacebook {
  background-color: #3b5998;
  color: white;

  &:hover {
    background-color: #2b4170;
    color: white;
  }
}

.buttonInstagram {
  background-color: #d62976;
  color: white;

  &:hover {
    background-color: #a8225e;
    color: white;
  }
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}