.footerLink:hover {
  color: #228C22;
  text-decoration: underline #228C22 2.5px solid;
}

.footerLinkFacebook:hover {
  color: #3b5998;
  text-decoration: underline #3b5998 2.5px solid;
}

.footerLinkInstagram:hover {
  color: #d62976;
  text-decoration: underline #d62976 2.5px solid;
}